[submodule "api"]
	path = api
	url = https://github.com/hft-forge/api.git
[submodule "ui"]
	path = ui
	url = https://github.com/hft-forge/ui.git
[submodule "machines"]
	path = machines
	url = https://github.com/hft-forge/machines.git
